@import '/src/styles/mixin.scss';
@include common-styles;

.wrap-container {
	background-color: #484847;

	&:nth-child(2) {
		background-color: white;

		h1, .description {
			color: #1D1D1B !important;
		}
	}
}

.container {
	justify-content: center;
}

h1, .description{
	color: white;
}