<div 
	class="wrap-container" 
	[class]="{
		sticky: isSticky, 
		open: isOpenMenu
	}">
	<div class="container">
		<header>
			<img
				data-aos="zoom-in" 
				routerLink="/"
				src="assets/img/logo-black.webp" 
				alt="logo" 
				(click)="onClickLi('banner', 200)">
			<div class="burger" (click)="toggleMenu()">
				<div></div>
				<div></div>
			</div>
		</header>
		<ul>
			<li 
				routerLink="/about-us"
				style="--i:0s"
				(click)="toggleMenu()">
				About us
			</li>
			<li
				routerLink="/compassionate-use"
				(click)="toggleMenu()"
				style="--i:0.15s">
				Compassionate Use
			</li>
			<!-- <li 
				routerLink="/founders-story"
				(click)="toggleMenu()"
				style="--i:0.3s">
				Founder's Story
			</li> -->
			<li 
				routerLink="/"
				style="--i:0.45s"
				(click)="onClickLi('contact')">
				Contact us
			</li>
			<!-- <li style="--i:0.45s" routerLink="/privacy-center/terms-and-conditions">
				Terms of Use
			</li>
			<li style="--i:0.6s" routerLink="/privacy-center/privacy-policy">
				Privacy Policy
			</li> -->
		</ul>
		<div class="copy">
			© 2023 Next Level Oncology
		</div>
	</div>
</div>