:host ::ng-deep {
	.wrap-container {
		position: absolute;
		top: 0; left: 0;
		z-index: 100;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}

	.sticky {
		position: fixed !important;
		box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
		// backdrop-filter: blur(10px);
		// background: #ffffffb0 !important;
		background-color: white;
		animation: slideDown 0.35s ease-out;
		border-bottom: 1px solid transparent;
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

@media (max-width: 1280px) {
	// :host ::ng-deep.wrap-container {
	// 	border-bottom: 1px solid transparent;
	// }
	
}