.wrap-container {
	padding: 200px 0px;
	min-height: 103%;
	background-color: white;
}

.container {
	display: flex;
	flex-direction: column;
}

h1 {
	margin-bottom: 50px;
	max-width: 852px;
	width: 100%;
	line-height: normal;
	text-transform: capitalize;

	&:nth-child(3) {
		margin-top: 200px;
	}
}

.description {
	font-size: 24px;
	opacity: 0.8;
	max-width: 852px;
	line-height: 150%;
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

@media (max-width: 1000px) {
	h1 {
		font-size: 70px !important;
		max-width: 100%;
	}

	.description {
		font-size: 20px;
		max-width: 100%;
	}
}

@media (max-width: 900px) {
	h1 {
		font-size: 60px !important;
	}

	.description {
		font-size: 18px;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 50px !important;
	}

	.description {
		font-size: 16px;
	}
}

@media (max-width: 500px) {
	.wrap-container {
		padding: 100px 0;
	}

	h1:nth-child(3) {
		margin-top: 100px;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 40px !important;
		line-height: 50px;
	}

	.description {
		font-size: 14px;
	}
}