.wrap-container {
	padding: 200px 0;
	background-color: white;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 133px;
}

h2 {
	margin-bottom: 60px;
}

p {
	margin-bottom: 50px;
	max-width: 520px;
	font-size: 24px;
	line-height: 150%;
}

.email {
	a {
		text-decoration: none;
		display: flex;
		align-items: center;

		svg {
			margin-right: 15px;
		}
	}
}

@media (max-width: 1500px) {
	.container {
		flex-direction: column;
		row-gap: 50px;
	}

	p {
		text-align: center;
	}

	h2 {
		text-align: center;
	}

	.email {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 500px) {
	.wrap-container {
		padding: 100px 0;
	}
}