<app-banner [info]="info.banner"></app-banner>

<!-- <app-grey-info></app-grey-info> -->

<app-grey-block [info]="info.grey[0]"></app-grey-block>
<app-dark-info [info]="info.dark[0]"></app-dark-info>

<app-what-we-do></app-what-we-do>


<!-- <app-dark-grey-info [info]="info.darkWhite"></app-dark-grey-info> -->
<app-dark-info [info]="info.dark[1]"></app-dark-info>
<app-white-block [info]="info.white[0]"></app-white-block>


<!-- <app-about-us></app-about-us> -->

<app-about-us-preview></app-about-us-preview>

<!-- <app-founder-story></app-founder-story> -->

<app-contact></app-contact>