<div class="wrap-container" [ngClass]="{'sticky': isSticky}">
	<div class="container">
		<header>
			<img 
				routerLink="/"
				data-aos="zoom-in" 
				src="assets/img/logo-black.webp" 
				alt="logo" 
				(click)="onClickLi('banner', 200)">
			<ul>
				<li
					routerLink="/about-us">
					About us
				</li>
				<li
					routerLink="/compassionate-use">
					Compassionate Use
				</li>
				<li 
					routerLink="/founders-story">
					Founder's Story
				</li>
				<li 
					routerLink="/"
					(click)="onClickLi('contact')">
					Contact us
				</li>
			</ul>
		</header>
	</div>
</div>