<div class="wrap-container">
	<div class="container">
		<!-- <h4>
			Better cancer care and improved wellness outcomes because of deep relationships and ongoing conversations throughout the shared cancer care journey with your concierge physician. <br><br>
			We care about you and prioritize listening to your needs at the heart of our practice. Our services are designed to fit your changing needs and achieve your goals.
		</h4> -->

		<h2 data-aos="fade-up">{{ title }}</h2>
		<div class="wrap-cards">
			<app-card
				data-aos="zoom-in"
				*ngFor="let card of cards"
				[card]="card">
			</app-card>
		</div>
	</div>
</div>