<div class="wrap-container" [class.isRevert]="isRevert">
	<div class="container">
		<h1 data-aos="fade-up">About us</h1>
		<div class="description" data-aos="fade-up">
			When we founded Next Level Oncology as a concierge practice, we were inspired by the courage, hope and endless trust that patients place in their physician throughout their journey from diagnosis to the end of life. We saw that when the patient and the physician are connected on the care journey, as if holding hands, while many unknowns remain, the patient never feels alone or hopeless and the best outcomes prevail.
		</div>
		<button routerLink="/about-us" data-aos="fade-up">
			<span>Learn More</span>
		</button>
	</div>
</div>
