@import '/src/styles/mixin.scss';
@include common-styles;
@include button;

.wrap-container {
	background-image: url('/assets/img/hands.webp');
	background-position: center;
	background-size:cover;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.8);

	}

	&.isRevert {
		button {
			span {
				color: white;
			}
			
			border: 1px solid white;
		}

		h1 {
			color: white;
		}

		.description {
			color: white;
		}

		&::before {
			background: linear-gradient(91deg, rgba(72, 72, 71, 0.80) 0%, rgba(72, 72, 71, 0.98) 100%);
		}

	}
}

.container {
	z-index: 1;
}


.description {
	max-width: 898px;
	font-weight: 400;
}

button {
	margin-top: 60px;
	margin-left: 0;
	border: 1px solid black;

	span {
		color: black;
	}

	
}