.card {
	display: flex;
	flex-direction: column;
	justify-content: center;

	user-select: none;

	width: 412px;
	height: 320px;

	border: 1px solid rgba(29, 29, 27, 0.10);
	background: #FFF;
	padding: 0 50px;
	perspective: 500px;
	transition: all .2s ease;

	box-shadow: 3px 3px 3px 2px rgb(238 238 238 / 34%);

	.wrap:hover & {
		transform: translateY(-10px);
		box-shadow: 0px 8px 6px 6px rgb(238 238 238 / 34%);
	}
}

img {
	flex-shrink: 0;
	max-width: 100%;
	max-height: 100%;

	margin-bottom: 20px;
}

h4 {
	margin-bottom: 15px;
}

p {
	line-height: 140%;
}