<div class="wrap-container" [class.black-mode]="isBlack">
	<div class="container">
		<div class="block">
			<h2 data-aos="fade-up" *ngIf="isBlack">
				“The cancer journey is tough for any patient but when they know they are not fighting alone,  hope goes a long way and the fight for a better future becomes very real.”
			</h2>
			<h2 data-aos="fade-up" *ngIf="!isBlack">
				“Every patient’s battle is unique and personal, so should be their care. <br>
				At Next Level Oncology, we fight not just for their survival, but for a future filled with hope and quality of life."
			</h2>
			<div class="sign" data-aos="fade-up">— Dr Csiki</div>
		</div>
	</div>
</div>
