<div class="wrap-container" [class.black-mode]="isBlack">
	<div class="container">
		<div class="block">
			<h2 data-aos="fade-up" *ngIf="isBlack">
				“The cancer journey is tough for any patient but when they know they are not fighting alone, hope goes a long way and the fight for a better future becomes very real.”
			</h2>
			<h2 data-aos="fade-up" *ngIf="!isBlack">
				“Every patient’s life journey is unique and personal, so should be their care. At Next Level Oncology, we are focused not only on survival, but also on a future filled with hope and quality of life.<br>
				Maximizing preventive measures personalized for each individual ensures the longevity and health we seek.”
			</h2>
			<div class="sign" data-aos="fade-up">— Dr Csiki</div>
		</div>
	</div>
</div>
