.wrap-container {
	padding: 200px 0px;
	min-height: 103%;
	height: auto;

	&.black-mode {
		background-color: #484847;
		* {
			color: white;
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
	max-width: 1100px;
	line-height: normal;
	font-size: 60px;
}

.sign {
	font-size: 24px;
	opacity: 0.8;
	text-align: right;
	width: 100%;
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

@media (max-width: 1000px) {
	h2 {
		font-size: 50px !important;
		max-width: 100%;
	}

	.sign {
		font-size: 20px;
	}
}

@media (max-width: 900px) {
	h2 {
		font-size: 40px !important;
	}

	.sign {
		font-size: 18px;
	}
}

@media (max-width: 600px) {
	h2 {
		font-size: 30px !important;
	}

	.sign {
		font-size: 16px;
	}
}

@media (max-width: 500px) {
	.wrap-container {
		padding: 100px 0;
	}

	h1:nth-child(3) {
		margin-top: 100px;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 40px !important;
		line-height: 50px;
	}

	.description {
		font-size: 14px;
	}
}