$button-color: #2b2b2b;

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
	background-color: white;
	width: 848px;
	transition: background-color .3s;
	position: relative;
}

.wrap-loading {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	left: 0px;
	top: 0px;
	backdrop-filter: blur(2px);

	mat-spinner {
		width: 100px !important;
		height: 100px !important;
		margin-right: 0px;
	}
}



.field {
	position: relative;
	margin-bottom: 10px;
}

input, textarea {
	width: 460px;
	height: 60px;

	border: 1px solid rgba(29, 29, 27, 0.10);
	outline: none;
	
	font-size: 16px;
	padding: 0 20px;
	transition: all .3s;

	&:focus {
		border: 1px solid rgba(29, 29, 27, 0.30);
	}

	&.ng-touched.ng-invalid {
		border: 1px solid rgba(255, 0, 0, 0.404);
		&::placeholder {
			color: rgba(185, 0, 0, 0.864)
		}
	}
}

textarea {
	height: 120px;
	padding: 20px;
	resize: vertical;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		width: 0px;
		background: white;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 0px;
		background: black; 
	}
}

.hint {
	padding: 3px 5px;
    position: absolute;
    right: 13px;
    top: -25px;
    background-color: #242526;
	box-shadow: 0px 0px 6px 3px #e0e0e033;
	// border: 1px solid rgba(29, 29, 27, 0.30);
	// backdrop-filter: blur(3px);
    border-radius: 3px;

	&:after {
		content: '';
		position: absolute;
		border: solid transparent;
		border-top-color: #242526;
		border-width: 8px;
		top: 18px;
		right: 30px;
		filter: drop-shadow(2px 1px 2px #e0e0e033);
	}

	div {
		color: white;
		font-size: 12px;
	}

	&.error {
		background-color: #242526;

		&:after {
			border-top-color: #242526;
		}
		
		div {
			color: white;
		}
	}
}

button {
	margin-top: 40px;
	cursor: pointer;
	transition: all .3s;

	&:active {
		background-color: #2b2b2b;
	}

	&:disabled {
		opacity: 0.3;
		pointer-events: none;
	}
}

@media (max-width: 1000px) {
	form {
		padding: 75px;
		background-color: white;
		width: 100%;
	}
}

@media (max-width: 600px) {
	form {
		width: 100vw;

		padding: 0px 15px;
		background-color: transparent;
		input, textarea {
			width: 100%;
		}

		.field {
			width: 100%;
		}
	}
}

::ng-deep app-form .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: black !important;
}

.wrap {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	
	overflow: hidden;

	* {
		color: black;
	}
}

h2 {
	font-size: 40px !important;
	text-transform: uppercase;
}

.description {
	max-width: 350px;
	text-align: center;
	letter-spacing: .5px;
    line-height: 119%;
	font-size: 20px;
	margin-bottom: 50px;
}


.back {
	position: absolute;
	z-index: 1;

	img {
		display: none;
		width: 125px;
		height: 105px;
		filter: blur(2px);
		opacity: 0.2;
		transform: translate(-254px, 26px);
		// transform: translate(-55px, -120px);
		animation: anim-back-plane 1s .3s forwards cubic-bezier(0, 0, 0, 1.02);
	}
}

@keyframes anim-back-plane {
	from {transform: translate(-254px, 26px);}
	to {transform: translate(-55px, -120px)}
}

.front {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	height: 300px;
	position: absolute;
	z-index: 2;

	button {
		width: 150px;
		height: 40px;
		background: white;
		color: #1D1D1B;
		font-weight: 800;
		cursor: pointer;
		margin-top: 20px;
		margin-bottom: 60px;

		&:hover {
			background: rgb(226, 226, 226);
		}
	}


	.wrap-img {
		width: 100%;
		position: relative;
		left: 55px;
		top: 6px;

		img {
			position: absolute;
			// filter: invert(100%);
	
			&:first-child {
				width: 193px;
				height: 160px;
				transform: rotateY(180deg) translate(57px, -46px) rotate(4deg);
			}
	
			&:last-child {
				width: 265px;
				transform: translate(74px, -18px) rotate(150deg) rotateX(180deg);
			}
			
		}
	}
}
