<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="field">
		<input 
			type="text" 
			placeholder="Name"
			formControlName="name">
		<div 
			class="hint error"
			*ngIf="name.invalid && name.touched">
			<div *ngIf="name.errors?.['required']">
				Required
			</div>
		</div>
	</div>

	<div class="field">
		<input 
			type="text" 
			name="email" 
			placeholder="Email"
			formControlName="email">
		<div 
			class="hint error"
			*ngIf="email.invalid && email.touched">
			<div *ngIf="email.errors?.['required']">
				Required
			</div>
			<div *ngIf="email.errors?.['email']">
				Incorrect email address
			</div>
		</div>
	</div>

	<div class="field">
		<input 
			type="tel"
			name="tel"
			placeholder="Phone"
			formControlName="tel">
		<div 
			class="hint error"
			*ngIf="tel.invalid && tel.touched">
			<div *ngIf="tel.errors?.['required']">
				Required
			</div>
			<div *ngIf="tel.errors?.['pattern'] || tel.errors?.['minlength']">
				Incorrect format
			</div>
		</div>
	</div>

	<div class="field">
		<input 
			type="text"
			name="location"
			placeholder="Location"
			formControlName="location"
			(keyup)="onChangeLocation($event)"
			[matAutocomplete]="auto">
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let city of autocompleteLocations" [value]="city.formatted">
				<div class="wrap-select">
					<div class="icon">
						<span class="material-symbols-outlined">
							location_city
						</span>
					</div>
					<div 
						class="address-line-1" 
						[innerHTML]="city.address_line1 | autocompleteHighlight: location.value">
					</div>
					<div class="address-line-2">
						{{ city.address_line2 }}
					</div>
				</div>
			</mat-option>
		</mat-autocomplete>
		<div 
			class="hint error"
			*ngIf="location.invalid && location.touched">
			<div *ngIf="location.errors?.['required']">
				Required
			</div>
			<div *ngIf="location.errors?.['invalidLocation']">
				Invalid location
			</div>
		</div>
	</div>

	<div class="field">
		<textarea
			type="text" 
			placeholder="Details"
			formControlName="message">
		</textarea>
		<div 
			class="hint"
			*ngIf="message.invalid && message.dirty && message.errors?.['minlength']">
			<div>
				At least
				{{ 
					message.errors?.['minlength'].requiredLength - message.value.length 
				}} more characters
			</div>
		</div>
	</div>

	<button 
		type="submit" 
		[disabled]="form.invalid && form.touched">
		Submit
	</button>

	<div class="wrap-loading" *ngIf="isLoading || isSubmitted">
		<mat-spinner *ngIf="isLoading"></mat-spinner>
		<ng-container *ngIf="isSubmitted">
			<div class="wrap">
				<div class="back">
					<img src="assets/img/plane.webp" alt="plane">
				</div>
				<div class="front">
					<h2>Thank you!</h2>
					<div class="description">
						Your letter has been sent. We will get in touch with you soon.
					</div>
					<!-- <button (click)="close()">Ok</button> -->
					<div class="wrap-img">
						<img src="assets/img/plane.webp" alt="plane">
						<img src="assets/img/lines.webp" alt="lines">
					</div>
				</div>
			</div>
		</ng-container>
		
	</div>
</form>