:host ::ng-deep {
	.wrap-container {
		position: absolute;
		top: 0; left: 0;
		z-index: 100;
	}

	.sticky {
		position: fixed !important;
		box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);
		animation: slideDown 0.35s ease-out;
		background: #ffffffb0;
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}