<app-banner [info]="info.banner"></app-banner>

<app-quote></app-quote>

<app-white-block [info]="info.white[0]"></app-white-block>

<app-quote [isBlack]="true"></app-quote>

<app-white-block [info]="info.white[1]"></app-white-block>

<app-grey-block [info]="info.grey[0]"></app-grey-block>

<app-white-block [info]="info.white[2]"></app-white-block>

<!-- <app-dark-block [info]="info.dark"></app-dark-block> stay comment --> 

<app-about-us-preview [isRevert]="true"></app-about-us-preview>

<app-contact></app-contact>