@import '/src/styles/mixin.scss';
@include common-styles;

.wrap-container {
	background-color: #484847;

	* {
		color: white;
	}
}

h4 {
	margin-bottom: 20px;
	width: 100%;
	font-size: 40px;
	line-height: normal;

	&:nth-child(3) {
		margin-top: 200px;
	}
}

.description {
	text-align: left;
	max-width: 100%;
}

.block {
	width: 100%;
}

