/* You can add global styles to this file, and also import other style files */
@import url('./styles/reset.scss');
@import url('./styles/media-queries.scss');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~aos/dist/aos.css';


* {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #1D1D1B;
}

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v129/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

body {
	background: #F8F8F8;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		width: 0px;
		background: white;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 0px;
		background: black; 
	}
}

// Added it for disabling scrollbar and not to move page
html {
	&:has(.wrap-container.open) {
		position: fixed;
		width: 100%;
		overflow-y: scroll;
	}

	&:has(app-preloader .wrap:not(.closing)) {
		position: fixed;
		width: 100%;
		overflow-y: scroll;

		body {
			&::-webkit-scrollbar-track {
				width: 0px;
				background: #1D1D1B;
			}		
		}
	}

	& app-preloader:has(.closing) {
		pointer-events: none;
	}
}

h1 {
	font-size: 80px;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
}

h2 {
	font-size: 64px;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
}

h3 {
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 25px;
	font-family: 'Playfair Display', serif;
}

h4 {
	font-size: 24px;
	font-weight: 500;
}

p {
	font-weight: 400;

	&.faded {
		opacity: 0.9;
		b {
			font-weight: 500;
		}
	}
}

.wrap-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

button {
	width: 320px;
	height: 60px;	
	border: 1px solid rgba(29, 29, 27, 0.20);
	background: #1D1D1B;
	
	font-weight: 500;
	color: #FFF;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.mat-mdc-snack-bar-action.mdc-button.mat-mdc-button {
	width: auto !important;
}

strong {
	font-weight: 500;
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, 
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #444444;
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-size: 25px;
}
