.wrap-container {
	padding-top: 200px;
	background-color: white;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 85px;
}

h2 {
	margin-bottom: 50px;
}

h4 {
	max-width: 545px;
	line-height: 140%;
}

img {
	width: 654px;
	height: 500px;
}

.show-more {
	display: none;
	align-items: center;

	color: #1D1D1B;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: -10px;

	svg {
		margin-left: 10px;
		transition: all .3s;
		transform-origin: center;

		&.active {
			transform: rotate(180deg);
		}
	}
}

.bottom {
	display: flex;
	justify-content: space-between;

	h4 {
		margin-bottom: 15px;
	}

	.left {
		max-width: 545px;
	}

	.right {
		max-width: 654px;

		.block {
			margin-bottom: 50px;
		}
	}

	p {
		line-height: 140%;
	}
}

.showing-block {
	transition: all .3s;
	overflow: hidden;

	&.active {
		max-height: 450px;
		margin-bottom: 30px !important;
	}
}

@media (max-width: 1919px) {
	img {
		width: 500px;
		height: auto;
	}

	.bottom {
		.right, .left {
			max-width: 500px;
		}
	}
}

@media (max-width: 1350px) {
	.top {
		flex-direction: column;

		h4 {
			max-width: unset;
			margin-bottom: 50px;
			text-align: justify;
		}
	}
}

@media (max-width: 1280px) {
	.bottom {
		flex-direction: column;
		align-items: center;

		.left {
			margin-bottom: 50px;
			max-width: 100%
		}

		.right {
			max-width: 100%;
		}
	}
}

@media (max-width: 980px) {
	h2 {
		text-align: center;
	}
}

@media (max-width: 520px) {
	img {
		width: 100%;
	}

	.top {
		margin-bottom: 50px;
	}
}

@media (max-width: 500px) {
	.wrap-container {
		padding-top: 100px;
	}
}

@media (max-width: 400px) {
	.showing-block {
		max-height: 0px;
		margin-bottom: 0 !important;
	}

	.show-more {
		display: inline-flex;
	}

	.bottom {
		.right .block, .block {
			margin-bottom: 30px;
		}

		.left {
			margin-bottom: 0;
		}
	}

	.top {
		margin-bottom: 30px;
	}

}