<div class="wrap-container" [ngClass]="{'with-description-flow': info?.description}">
	<div class="container">
		<div class="left">
			<h1 
				data-aos="fade-up">
				{{ info.title }}
			</h1>
			<div 
				data-aos="fade-up"
				data-aos-delay="500"
				class="description" 
				*ngIf="info?.description">
				{{ info.description }}
			</div>
			<button
				data-aos-delay="700"
				data-aos="fade-up" 
				class="hover-border" 
				(click)="scrollTo('contact')">
				<span>Book an appointment</span>
			</button>
		</div>
		<div class="right" data-aos="fade">
			<img [src]="'assets/img/' + info.img" alt="banner">
		</div>
	</div>
</div>