<div 
	class="wrap-container"
	[class.with-description-flow]="info?.description">
	<div class="container">
		<div class="left" lang="en">
			<h1 
				data-aos="fade">
				{{ info.title }}
			</h1>
			<div 
				class="description" 
				*ngIf="info?.description">
				{{ info.description }}
			</div>
			<button
				class="hover-border" 
				(click)="scrollTo('contact')">
				<span>Book Free Consultation</span>
			</button>
		</div>
		<div 
			class="right" 
			data-aos="fade"
			[class.with-white-filter]="info?.isWhiteFilter">
			<img 
				[src]="'assets/img/' + info.img"
				[style.max-width.px]="info?.maxPictureWidth"
				alt="banner">
		</div>
	</div>
</div>