<div 
	class="wrap-container" 
	[ngClass]="{'with-description-flow': info?.description}">
	<div class="container">
		<div class="left" lang="en">
			<h1 
				data-aos="fade">
				{{ info.title }}
			</h1>
			<div 
				class="description" 
				*ngIf="info?.description">
				{{ info.description }}
			</div>
			<button
				class="hover-border" 
				(click)="scrollTo('contact')">
				<span>Book an appointment</span>
			</button>
		</div>
		<div 
			class="right" 
			data-aos="fade" 
			[ngClass]="{'with-white-filter': info?.isWhiteFilter}">
			<img 
				[src]="'assets/img/' + info.img" 
				[style]="'max-width:' + info?.maxPictureWidth + 'px'"
				alt="banner">
		</div>
	</div>
</div>